body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Scrollbar css*/

/* Let's get this party started */
.ul-holder::-webkit-scrollbar {
    width: 10px;
}

.ul-holder::-webkit-scrollbar-track {

  background: #f1f1f1;

}

.ul-holder::-webkit-scrollbar-thumb {

  background-color: #d3d3d3;
  outline: 1px solid slategrey;
}

/* ---------------------- */


.custom-input{
  height:50px;

}

/* Switch css !*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: 10px;

}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 13px;
  bottom: 1px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
  border: none;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  background-color: white;
  bottom: 2px;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.inline-content{
  display:inline-block;
}
.block-content{
  display:block;
}

.p-r-small{
  padding-right:10px;
}
.m-r-small{
  margin-right:5px;
}
.m-l-small{
  margin-left:5px;
}

/* Container used for styling the custom select, the buttom class below adds the
 * bg gradient, corners, etc. */
.custom-select {
  position: relative;
  display: block;
  margin-bottom:20px;
}

/* This is the native select, we're making everything but the text invisible so
 * we can see the button styles in the wrapper */
.custom-select select {
  width: 100%;
  margin: 0;
  height: 32px;
  padding: 2px 10px 3px;

  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* Font size must be 16px to prevent iOS page zoom on focus */
  font-size: 15px;
}


/* Custom arrow sits on top of the select - could be an image, SVG, icon font,
 * etc. or the arrow could just baked into the bg image on the select. */
.custom-select::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 1em;
  z-index: 2;
  /* These hacks make the select behind the arrow clickable in some browsers */
  pointer-events: none;
  display: none;
}

/* Firefox <= 34 has a false positive on @supports( -moz-appearance: none )
 * @supports ( mask-type: alpha ) is Firefox 35+
 */
@supports (-webkit-appearance: none) or (appearance: none) or ((-moz-appearance: none) and (mask-type: alpha)) {

  /* Show custom arrow */
  .custom-select::after {
    display: block;
  }

  /* Remove select styling */
  .custom-select select {
    padding-right: 2em; /* Match-01 */
    /* inside @supports so that iOS <= 8 display the native arrow */
    background: none; /* Match-04 */
    /* inside @supports so that Android <= 4.3 display the native arrow */
    border: 2px solid gray; /* Match-05 */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .custom-select select:focus {
    border-color: #aaa; /* Match-03 */
  }
}

.error {
  border-color:red !important;
}
/* -------------------------------------------------------------------------- */

/* ------ savings component --------- */
.no-left-padding{
  padding-left:0px;
}

.saving-holder
{
  display: flex;
  flex-wrap: wrap;
  max-height: 45vh;
  overflow-y: scroll;
}

.saving-holder::-webkit-scrollbar {
    width: 10px;
}

.saving-holder::-webkit-scrollbar-track {

  background: #f1f1f1;

}

.saving-holder::-webkit-scrollbar-thumb {

  background-color: #d3d3d3;
  outline: 1px solid slategrey;
}

.saving-item
{
  min-height: 14vh;
  min-width: 15vw;
  border: 2px solid gray;
  display:inline-block;
  margin-right: 1vw;
  margin-bottom: 1vh;
  text-align: center;
  white-space: pre-wrap;      /* CSS3 */
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.acc-name-field{

  font-size:1vw;
}

.add-text-field{
  font-style: none;
  font-size:2vw;
}

.small-icon{
  font-size:2vw;
  margin-top:3px;
  margin-right: 5px;
}
.big-icon{
  font-size:4vw;
  margin-top:10px;
}
/* ------------------------------------- */
label {
  display: block;
}
